@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: EB Garamond, serif;
  background: #fff!important;
  text-align: justify !important;
}

* {
  box-sizing: border-box;
}
#blog-title {
  text-align: center !important;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
#blog-detail ul {
  list-style: disc !important;
  padding-left: 20px !important;
  margin-bottom: 12px !important;
}
#blog-detail ol {
  list-style: decimal !important;
  padding-left: 20px !important;
  margin-bottom: 12px !important;
}
.blog h1, .blog h2, .blog h3 {
  text-align: left !important;
}
.blog p, .blog h1, .blog h2, .blog h3{
  margin-bottom: 12px !important;
}
h1 {
  font-size: 26px !important;
  text-align: center !important;
  font-weight: bold !important;
}
h2 {
  font-size: 22px !important;
  margin-bottom: 12px;
  text-align: center !important;
  font-weight: bold !important;
}
h3 {
  font-size: 18px !important;
  text-align: center !important;
  font-weight: bold !important;
}
p,
li {
  font-size: 16px !important;
}
a{
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}
.internal-link{
  color: #333;
  text-decoration: underline;
  font-weight: 700 !important;
}
.internal-link:hover {
  color: #cb2444 !important;
  text-decoration: none;
}